.main-header {
  text-align: center;
}

.header-text {
  color: rgb(128, 128, 128);
  text-transform: uppercase;
  font-family:cursive;

}

.about-text {
  color: rgb(128, 128, 128);
}

.khanacademy-link {
  color: rgb(128, 128, 128);
  font-weight: 400;
  text-decoration: underline;
}
