h2 {
  font-size: 2em;
  color: rgb(128, 128, 128);
}

.store-link {
  font-weight: 600;
  font-size: 1em;
  text-decoration: underline;
  color: rgb(92, 91, 91);

}

.how-to-text {
  font-size: 1.5rem;
  color: rgb(92, 91, 91);

}
